.return-btn {
    display:inline-block;
    text-align:right;
    width:100%;
    padding-right:5px;
}

.search_return_btn {
    background-color:#FCF6B1;
    padding:5px;
    align-self: flex-end;
    font-size:16px;
}

.full-recipe-panel {
    position:relative;
    width:100%;
    padding-top:10px;
    display:flex;
    flex-direction:column;
}

.full-recipe-img img {
    width:100%;
    border-top:1px solid #11270B;
    border-bottom:1px solid #11270B;
}

.full-recipe-name {
    order:1;
    text-align:left;
    width:100%;
    display:inline-block;
    padding-left:15px;
    padding-right:15px;
}

.full-recipe-img {
    order: 2;
    display:flex;
    justify-content: flex-end;
}

.full-recipe-img a {
    margin-right:10px;
}

.full-recipe-ingredients{
    order:3;
    width:100%;
    display:flex;
    justify-content: flex-start;
    padding-left:15px;
    flex-direction:column;
    margin-top:10px;
}

.full-recipe-ingredients ul {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    width:100%;

}

.full-recipe-instructions {
    order:4;
    width:100%;
    display:flex;
    justify-content: flex-start;
    padding-left:15px;
    flex-direction:column;
    margin-top:10px;
}

.full-recipe-instructions ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 15px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    width:90%;
}

#recipe-videos {
    order:5;
    width:100%;
    padding-left:15px;
    display:flex;
    flex-direction:column;
    margin-top:10px;
}

#recipe-videos {
    display:flex;
    flex-direction:column;
}

#video-player {
    width:100%;
    padding-right:10px;
    padding-left:0px;
}

#more-videos {
    display:inline-block;
    width:100%;
    position:relative;
    max-width:600px;
}

iframe {
    width:320px;
    height:250px;
}

#video-thumbs {
    list-style:none;
    margin-block-start: 10px;
    margin-block-end: 0;
    margin-inline-end: 10px;
    display:flex;
    flex-direction:column;
    padding-inline-start: 15px;
}

#video-thumbs li {
    display:inline-block;
    margin-bottom:20px;
}

#video-thumbs li a {
    display:flex;
}

#video-thumbs li img {
    border:1px solid black;
}

#video-thumbs li h3 {
    align-self:flex-start;
}


@media screen and (min-width:500px){
    .full-recipe-panel {
        flex-direction:row;
        justify-content:flex-start;
    }
    .full-recipe-img {
        float:right;
        width:35%;
    }

    .full-recipe-img {
        order: 3;
        width:35%;
        display:flex;
        justify-content: flex-start;
        align-self:flex-start;
        margin-top:10px;
    }

    .full-recipe-ingredients{
        order:2;
        width:63%;
        display:flex;
        justify-content: flex-start;
        padding-left:15px;
        flex-direction:column;
        margin-top:0px;
    }

    .full-recipe-img img {
        width:100%;
        border:1px solid #11270B;
    }
    
    iframe {
        width:450px;
        height:280px;
    }
    
}

@media screen and (min-width:775px){
    iframe{
        width:600px;
        height:450px;
    }
}
