* {
    box-sizing: border-box;
}

html {
    display:flex;
    align-items:center;
    width:100%;

}

body {
    width:100%;
    font-family:'Montserrat medium', sans-serif;
    font-size:16px;
    margin:0px;
    color:#0D1F22;
}

a, a:visited, a:link, a:active {
    color:#000000;
    text-decoration:none;
    cursor:pointer;  
}

a:hover{
    text-decoration:underline;
}

label {
    padding-top:10px;
    font-weight:bold;
}

h1 {
    font-size:24px;
    margin:0px;
    font-weight: 500;
}

.printable {
    padding:0 5px 15px 15px;
}

.printable h1 {
    margin-bottom:15px;
}

h2{
    font-size:24px;
    margin-block-start: 0;
    margin-block-end: 10px;
}

#recipes-list h3 {
    width:100%;
    max-width:900px;
    margin-bottom:15px;
}

h3 {
    margin-block-start: 10px;
    margin-block-end: 10px;
    font-size:18px;
    line-height:20px;
    width:100%;
}

nav {
    color:#E6E7E9;
    display:inline-block;
    position:fixed;
    z-index:100;
    width:100%;
    height:50px;
}

.nav-bar {
    background-color: #66A221;
    padding:6px 10px 10px 15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:24px;
    font-weight:bold;
}

#menu-expanded {
    display:none;
}

.nav-links {
    background-color:#FFBA08;
    display:none;
    font-weight:bold;
}

.nav-links-show {
    display:block;
}

.nav-links ul, #menu-full ul, #menu-expanded ul {
    list-style:none;
    display:flex;
    justify-content: flex-end;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.nav-links ul li, #menu-full ul li {
    margin:8px 10px 8px 10px;
}

#menu-expanded ul li {
    margin:8px 10px 8px 10px;
    font-size:18px;
}

#menu-expanded ul li a{
    color:white;
    font-weight:normal;
    
}

.nav-hamburger {
    height:20px;
}

#menu-hamburger button {
    background-color:transparent;
    border:0px;
    padding:0px;
}


#search-progress, #recipe-progress {
    padding:0;
    font-weight:bold;
    font-size:18px;
    text-align:left;
    width:100%;
    max-width:1000px;
    margin-block-start: 0;
    margin-block-end: 0;
}

input {
    padding:10px;
    font-size:18px;
    border-radius:5px;
    border:1px solid #666666;
    width:100%;
}

button {
    padding:10px;
    font-size:18px;
    border-radius:5px;
    border:1px solid #666666;
    margin-top:10px;
    color:#000000;
}

main {
    display:block;
    width:100%;
    margin-top:50px;
}

.printable main {
    margin-top:10px;
}

section {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
    line-height:1.7em;
}

#simple-search-form {
    width:100%;
    padding-top:25px;
    padding-bottom:15px;
    position:relative;
    margin-bottom:20px;
}

#search-by-category, #search-by-name {
    margin-top:10px;
    text-align:right;
    align-self:flex-end;
}

.search-bg{
    background-image:url('../imgs/marble_bg.jpg');
    opacity:0.6;
    background-position:top center;
    background-size:cover;
    width:100%;
    height:100%;
    display:inline-block;
    position:absolute;
    z-index:1;
}

#simple-search-form, #random-result{
    width:100%;
}

#random-result {
    max-width:800px;
}

#simple-search-form{
        padding-top:25px;
}

#simple-form, #type-search {
    display:flex;
    flex-direction:column;
    z-index:99;
    position:relative;
    width:90%;
    max-width:600px;
}

#random-panel {
    display:flex;
    flex-direction:column;
}

#recipe-categories {
    display:flex;
    flex-wrap:wrap;
    width:90%;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
    justify-content: space-evenly;
}

#recipe-categories button {
    margin:5px;
}

#recipes-list {
    display:flex;
    justify-content: flex-start;
    margin-top:10px;
    width:90%;
    max-width:1100px;
}

.recipe-grid-square {
    width:50%;
    display:inline-block;
    text-align:center;
    margin-bottom:25px;
    align-self: flex-start;
    line-height:20px;
}

.recipe-grid-square p {
    padding-left:5px;
    padding-right:5px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.recipe-grid-img {
    width:90%;
    max-width:250px;
    border:1px solid #999999;
    border-radius:5px;
}

#printable-display {
    padding:0px;
    max-width:800px;
}

.printable-recipe {
    position:relative;
    width:100%;
}

.printable-recipe-img {
    float:right;
    width:35%;
}

.printable-recipe-img img {
    width:90%;
}

.printable-recipe ul{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
    
}

#printable-recipe-ingredients, #grocery-list {
    list-style:none;
    padding-inline-start: 5px;
}

footer {
    font-size:13px;
    padding:15px;
}

#full-recipe {
    max-width:800px;
}

@media screen and (min-width:600px){
    #simple-form {
        width:60%;
    }

    #recipes-list {
        justify-content:center;
    }

    .recipe-grid-square {
        width:30%;
    }
}


@media screen and (min-width:700px){
    #menu-expanded {
        display: inline-block;
    }
    
    #menu-mobile {
        display:none;
    }
        
    #menu-hamburger {
        display:none;
    }
    
}
