* {
    box-sizing: border-box;
}

html {
    display:flex;
    align-items:center;
    padding:0% 5% 0% 5%;
    width:100%;
}

body {
    width:100%;
}

nav {
    border-bottom:1px solid #666666;
    padding-bottom:15px;
}

main {
    display:block;
    width:100%;
}

section {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
    line-height:1.7em;
}

#simple-search-form, #random-result{
    width:100%;
    padding-top:25px;
}

#random-panel {
    display:flex;
    flex-direction:column;
}

#recipe-videos {
    display:flex;
    flex-direction:column;
}

#recipes-list, #full-recipe {
    padding-top:25px;
}

#more-videos {
    display:inline-block;
    width:100%;
    position:relative;
}

iframe {
    width:320px;
    height:250px;
}

#video-thumbs {
    list-style:none;
    margin-inline-end: 20px;
    display:flex;
    flex-direction:column;
}

#video-thumbs li a {
    display:flex;
}

h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size:16px;
    line-height:20px;
}

input {
    padding:10px;
    font-size:18px;
    border-radius:5px;
    border:1px solid #666666;
}

button {
    padding:10px;
    font-size:18px;
    border-radius:5px;
}

#search-progress {
    text-align:left;
    width:100%;
}